body{
    text-align:center;
    margin-top: 150px !important;
}

.btn {
    cursor :pointer;
}

.clock-size {
    cursor: default;
    font-size: 80px;
    letter-spacing: -5px;
}

body {
    color :whitesmoke;
}

.clicked{
    color:#8c7ae6;
}

.form,
.greetings {
    display: none;
    font-size: 50px;
}

.showing {
    display: block;
}

.weather {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: right;
}

@keyframes fadeIn {
    from {
        opacity:  0;
    }
    to {
        opacity: 1;
    }
}

.bgImage{
    position : absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
    animation: fadeIn .2s linear;
}