body{
    background-color :peru;

}

.btn {
    cursor :pointer;
}

body {
    color:#fbc531;
}

.clicked{
    color:#8c7ae6;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}